.div-1 {
  height: 580px;
  width: 100%;
  background-color: #d3c5e5;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/* .div-2 {
  height: 500px;
  width: 40%;
  background-color: #cadcfc;
} */
